# Node modules
./frontend/node_modules/

# Build output
./frontend/dist/
./frontend/build/

# Local env files
./frontend/.env
./frontend/.env.local
./frontend/.env.*.local

# Logs
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*

# IDE files
./frontend/.idea/
./frontend/.vscode/
./frontend/.DS_Store
